# Dependências
node_modules/

docker/

# Arquivos compilados
dist/
package-lock.json

# Arquivos de ambiente
.env
.env.local
.env.production

# Logs
*.log
logs.md

# Arquivos temporários
tmp/
temp/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# BAML
baml_client/

backup/
mcp_server/

# GitHub Actions Self-hosted Runners
.actions-runner/
_runner/
.credentials
.credentials_rsaparams
actions-runner-win-x64-*.zip
config.cmd
run-helper.cmd.template
run-helper.sh.template
run.cmd
externals/

# Arquivos de diagnóstico e logs do runner
_diag/
.runner
run-helper.cmd
bin

package-lock.json